{% extends 'jobs/base.html' %}

{% load static %}

{% block content %}

<hr class="featurette-divider">

<div class="container pm-containerPadding-bottom-0">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element " >
<div class="wpb_wrapper">
  <h1>Our journey</h1>
<p style="text-align: justify;">With close to ten years of experience sending students to Germany for a higher education, EduOptions Germany is a one-stop solution that facilitates quality, educational experience in Germany. With more and more students opting to study in Germany, we provide a holistic solution that will enable students to realize their dream of a foreign education. To this end, EduOptions Germany is continuously expanding its portfolio to include more study programs for aspiring students – from Studienkolleg, to undergraduate, postgraduate, short-term courses and vocational training, at institutions around Germany.</p>
<p style="text-align: justify;">With offices in Mumbai and Pune and affiliates across the country, EduOptions Germany is introducing more and more students to the wonders of a foreign education and experience. With over hundreds of students having successfully passed through our offices, EduOptions Germany is an ideal partner for universities, students and affiliates alike. With a team of dedicated, trained and experienced staff, EduOptions Germany provides an individual experience, depending upon each student’s goal, interest and aspirations.</p>
<p style="text-align: justify;">At EduOptions Germany, we aim to help you obtain a world class education while making the experience memorable and the process as seamless as possible by guiding you every step of the way.</p>
</div>
</div>


{% endblock content %}
